#ignore thumbnails created by windows\Mac
Thumbs.db
.DS_Store
#Ignore files build by Visual Studio\Monodevelop\Xcode
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
ClientBin/
*.lib
*.sbr
_ReSharper*/
[Tt]est[Rr]esult*
*.csproj.vs10x
*.orig
*.dll
*.user
*.suo
*.JustCode
*.xcuserstate
xcuserdata/
*.userprefs
